.icon {
    background-repeat: no-repeat;
}

.icon-16 {
    background-size: 16px 16px;
}

.icon-24 {
    width: 24px;
    height: 24px;
}

.icon-32 {
    width: 32px;
    height: 32px;
}

.icon__dashboard {
    background-image: url(../../assets/icon/dashboard.png);
}

.icon__employee {
    background-image: url(../../assets/icon/dic-employee.png);
}

.icon__report {
    background-image: url(../../assets/icon/report.png);
}

.icon__setting {
    background-image: url(../../assets/icon/setting.png);
}

.icon--save {
    background-image: url(../../assets/icon/save.svg);
}

.icon-default-avatar {
    background-image: url(../../assets/img/default-avatar.jpg);
}